/* Estilos para pantallas más grandes */
.bannerInicio {
  background-image: url("/img/Last\ Version\ of\ the\ Banner\ Top\ Of\ Websit\ With\ TOP\ Word.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.logo-image {
  height: 110px;
  width: 310px;
}

.azul {
  background: radial-gradient(circle at top left, #0d356d, #2c4464);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
  color: #fff;
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 768px) {
  .logos{
    width: 25px;
    height: 25px;
    
  }
  
}


