
 /* Estilos para pantallas más grandes */
 .bannerInicio {
  background-image: url('/img/Last\ Version\ of\ the\ Banner\ Top\ Of\ Websit\ With\ TOP\ Word.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
 .logo-image {
    height: 110px;
    width: 310px;
  }

  /* Media Query para pantallas más pequeñas */
  @media (max-width: 768px) {
    .logo-image {
      height: 80px;
      width: 250px;
    }
    .titulo{
        display: none;
    }
    
    .titulo2{
        display: block;
    }
  }
  @media (min-width: 969px) {
    /* Aquí puedes agregar tus estilos CSS para pantallas grandes */
    .titulo2{
        display: none;
        align-items: center;
    }
}